.card.small {
  width: 120px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.card.small img {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 8px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
